NODE_ENV=development
 
# # BASE URL
GATEWAY_BASE_URI=http://gateway.sharemydine.co.uk
GATEWAY_PORT=8000
 
# App Url
APP_URL=https://app.sharemydine.co.uk
 
# MONGO_DB Configuration
MONGO_DSN=mongodb://shoaib:D35XSI4yPPgAljv1@ac-kz9nrrt-shard-00-00.mhsjmmg.mongodb.net:27017,ac-kz9nrrt-shard-00-01.mhsjmmg.mongodb.net:27017,ac-kz9nrrt-shard-00-02.mhsjmmg.mongodb.net:27017?ssl=true&authSource=admin&replicaSet=atlas-nfwudz-shard-0&appName=Cluster0
MONGO_DATABASE=smd
 


# Blob Storage Configuration
AZURE_STORAGE_ACCOUNT_NAME=sharemydine
AZURE_STORAGE_ACCOUNT_KEY=HYqnjWr5WPFUpYhBzQ+GsTWoMmlkZHDkm8DQw5V7emC/NE4ZSrBxsPNvHMImTxpJTPAEYaig5m2u+AStqDa+AQ==
AZURE_STORAGE_CONTAINER_NAME=smd-prod
 
# Email Configuration 
ACS_CONNECTION_STRING='endpoint=https://smd-cs.unitedstates.communication.azure.com/;accesskey=1QBTjwEF7LaDp1hPpD02EKiY9di4lYsnhWzZHfLaxQxRy8eyGlKJJQQJ99BFACULyCpxMImJAAAAAZCS7AVk%27
 
# IdentityGram Api
IG_API_URL=https://gateway-dev.identitygram.co.uk/verification/verification
 
# Test Keys
IG_PUBLIC_KEY=96fa2f0cedb837a3d6e2a793f14d10a7d5907a7d80cfdc6140cded36d5cba438
IG_PRIVATE_KEY=67058115d8ae9a7775114466e9956d37c1958998fb2f885922ea6e5062c939ff
 
# Air apple cart api
AAC_API_URL=https://gateway-stg.airapplecart.co.uk/signup-leads
AAC_API_KEY=4018855ea53905c5c3f1c8e1b7b81535:922d714bc313ae85b68b2d4d52687b24d10af36ee2d9b42eec2edd760ec343821f785279d40f9d06303324b51f76c4fdd9ac8bc47c854e4f7b38451dc1972c669515ef8b7cb697556d906ad39a8c25045c7231a27dc9857cf4c2fae1f6647612
 
# Permissions Synchronization
PERMISSION_SYNC=true
 
# SWAGGER Configuration
SWAGGER_AUTH=true
 
CONTRACT_BOOK_API_KEY=dummy
CONTRACT_BOOK_TEMPLATE_ID=dummy
CONTRACT_BOOK_URL=http://localhost/dummy
 
# JWT
JWT_SECRET=SMD
 
# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_YwfixAuvPJpgKZVRMewyXxBv
STRIPE_CURRENCY=USD
##################################### END ##########################################
 
# AWS Cognito Configuration
COGNITO_REGION=eu-west-2
COGNITO_USERPOOL_ID=eu-west-2_glRBqD6WA
COGNITO_CLIENT_ID=32gnavso05bk87s7irupemtbep
COGNITO_CLIENT_SECRET=1es8i86metc7phegtcdnp14mfiri16h5lndeh174til5tg4tqjoc
COGNITO_AWS_ACCESS_KEY=AKIAWFFJPZVN5EBZYLFG
COGNITO_AWS_SECRET_KEY=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
 
# S3 Configuration
S3_REGION=eu-west-2
S3_BUCKET=smd-s3-public-dev-001
S3_AWS_ACCESS_KEY=AKIAWFFJPZVN5EBZYLFG
S3_AWS_SECRET_KEY=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
 
# SMTP Configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=ad8c01001@smtp-brevo.com
SMTP_PASS=xsmtpsib-581b407459a3ffff591edc90c73197323d418a6504d56b92139a94e3059ba6c0-DZuOgPGXxeREmdyf
ECS_SENDER_EMAIL=sherajutt340@gmail.com
# CloudWatch Logging Configuration
CLOUDWATCH_GROUP_NAME=SMDAppLogs
CLOUDWATCH_STREAM_NAME=smd
CLOUDWATCH_AWS_REGION=eu-west-2
CLOUDWATCH_AWS_ACCESS_KEY=AKIAWFFJPZVN5EBZYLFG
CLOUDWATCH_AWS_SECRET_KEY=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
CLOUDWATCH_LOGS=false
